

body {
    background-color: #26233a !important;
    text-align: center;
    padding-left: 9%;
    
}

#nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    background-color: #26233a !important;
    color: #ebbcba !important;
    
}

a {
    color: #ebbcba !important; 
}

img {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

#important-paragraph, .about-paragraph, .intro-paragraph, .skills-paragraph, .history-paragraph {
    color: #ebbcba;
    font-size: 20px;
}

#about, #skills, h1, #history, #important {
    color: #ebbcba;
    
}


/* #important, #important-paragraph {
    text-align: right;
    margin-right: 30%;
    
}

#important-paragraph {
    margin-left: 50%;
    text-align: center;
} */

