

body {
    background-color: #ebbcba !important;
    text-align: left;
    padding-left: 9%;
    
}

#nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    background-color: #ebbcba !important;
    
}
img {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}



#important, #important-paragraph {
    text-align: right;
    margin-right: 30%;
    
}

#important-paragraph {
    margin-left: 50%;
    text-align: center;
}

.important-container {
    height: 2px;
    width: -2;
    position: relative;
    top: -400px;
    right: -250px;
    
   
    
}

#imp1, #imp2, #imp3 {
    font-size: small;
    text-align: center;
    border-style: solid;
    padding: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
}